.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    min-height: calc(100vh - 22px);
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}